<section>

    
    <a href=
    "https://www.google.com"  target="_blank"><img src="assets/whatsapp3.png" class="whatsapp"></a>

    



    <div class="container">
        <div class="content">
            <div class="content-text">
                <div class="first-text" >
                    <p>A Visão de Águia te mostra o rastreamento de segurança como você precisa e que cabe no seu bolso!</p>
                </div>

                <div class="second-text">
                    <p class="text">Temos planos de rastreamento e bloqueio a partir de:</p>
                    <div class="orangebox animated-box">
                        <p class="title">R$ 39,90</p>
                        <p class="subtitle">mensais + valor de instalação</p>
                    </div>
                </div>

                <div class="third-text">
                    <p>Faremos a instalação no conforto de sua residência.</p>
                </div>
            </div>

            <div class="content-form" id="contact-form" >
                <div class="texts">
                    <p class="first-title">Solicite sua cotação</p>
                    <p class="second-title">Preencha o formulário e aguarde nosso contato</p>
                </div>
                <form [formGroup]="form" >
                    <input type="text" id="nome" name="nome" placeholder="Nome" formControlName="nome">

                        
                    <input type="email" id="email" name="email" placeholder="Email" formControlName="email">

                    <div class="telephone">
                        <select class="form-select" size="1" formControlName="ddd" id="DDD"
                        
                            required>
                            <option value="" selected>Selecione</option>
                            <option *ngFor="let ddd of dds" [value]="ddd">{{ddd}}</option>
                        </select>
                        <input type="tel" id="celular" name="celular" placeholder="Celular" formControlName="celular">
                    </div>

                 

                    <div class="checkbox-form">
                        <p>Tipo de veículo</p>

                        <div class="boxes">
                            <div class="form-check">
                                <input type="radio" name="tipoVeiculo" value="carro" formControlName="tipoVeiculo">
                                <label for="carro">Carro</label>
                            </div>
                        
                            <div class="form-check">
                                <input type="radio" name="tipoVeiculo" value="moto" formControlName="tipoVeiculo">
                                <label for="moto">Moto</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="tipoVeiculo" value="caminhão/outro" formControlName="tipoVeiculo">
                                <label for="caminhao">Caminhão/outro</label>
                            </div>
                        </div>
                        
            
                        
                    </div>

                    <button class="button-87" type="submit" (click)="onSubmit()" >Enviar</button>
                </form>

                
            </div>

        </div>
    </div>
</section>