<section>
    <div class="total-box">
        <div class="content">
        
            <div class="content-texts">
                <div class="title">
                    <h1>Tenha o rastreamento e monitoramento do seu veículo ao seu alcance 24h por dia!</h1>
                </div>
                <div class="text-one">
                    <p>Conheça o rastreamento veicular M2TRACK e veja como é possível deixar seu veículo mais seguro sem gastar uma fortuna.</p>
                    <p class="plans">Temos planos incluindo rastreamento e bloqueio a partir de:</p>
                </div>
                
                <div class="highlighted-box">
                    <p class="price">R$ 39,90</p>
                    <p>Mensais + valor único de instalação</p>
                </div>

                <div class="text-two">
                    <p>Oferecemos desconto no valor da instalação para mais de 1 veículo</p>
                   
                </div>

                <div class="text-three">
                    <p>Não temos fidelidade ou restrições de perfil. Atendemos qualquer veículo e instalamos em sua residência.</p>
                   
                </div>
            </div>
            

            <div class="total-form">
                <div class="form-box">
                    <p class="title-form">Faça sua cotação com os nossos vendedores</p>
                    <p>Preencha o formulário e aguarde nosso contato!</p>

                    <form>
                        <div class="inputs-box">
                            <input type="text" id="nome" name="nome" placeholder="Nome">

                     
                            <input type="email" id="email" name="email" placeholder="Email">

        
                            <input type="tel" id="celular" name="celular" placeholder="Celular">
                            
                        </div>
                        <p class="grabber">Digite o celular com DDD local | Exemplo: (21) 91234-5678</p>

                        <div class="checkbox-form">
                            <p>Tipo de veículo</p>

                            <div class="container-checkbox">
                                <div class="form-check">
                                    <input type="checkbox" id="carro" formControlName="carro">
                                    <label for="carro">Carro</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="moto" formControlName="moto">
                                    <label for="moto">Moto</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" id="caminhao" formControlName="caminhao">
                                    <label for="caminhao">Caminhão</label>
                                </div>
                            </div>
                        </div>
                        
                        <button class="button-87">Enviar</button>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>

<section>
    <div class="content2">
        <p>Ou se preferir... fale agora conosco pelo WhatsApp. Será um prazer!</p>
        
        <div class="box">
            <p>Chamar no Whatsapp</p>
        </div>
    </div>
</section>