

.container
{background-image: url('/assets/foto2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.content{
    background-color: #6537127d;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
  
    


    
}

.content-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    width: 40%;
    text-align: center;
}


.first-text p{
    font-size:1.7rem;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
}

.second-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.second-text .text{
    font-size: 1.2rem;
    font-weight: bold;
}

.orangebox{
    border-radius:  10px 10px 10px 10px;
    padding: 18px 100px;
    width: 80%;
    background-color: #9e3b17C2;

}

.orangebox .title{
font-size: 4.2em;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;}

.orangebox .subtitle{
    font-size: 0.9rem;
} 

.third-text p{
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    

}

.content-form{
   
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-form{
    background-color:  #FFFFFFC9;
    padding: 20px 40px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-form .first-title{
    font-size: 22px;
    font-weight: bold;
}

.telephone{
    display: flex;
    gap: 20px;
}

.telephone input{
    padding-left: 110px;
}

input {
    padding: 7px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid #ccc;
   
}

input:focus {
    border-color: #f09c47; /* Cor da borda quando o input está em foco */
    outline: none; /* Remove o contorno padrão do navegador */
}

select{
    padding: 7px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
    border: 1px solid #ccc;
   
}

select:focus{
    border-color: #f09c47; /* Cor da borda quando o input está em foco */
    outline: none; /* Remove o contorno padrão do navegador */
}


.checkbox-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-form p{
    font-weight: bold;
    font-size: 1.2rem;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 18px;
    align-items: center; 
}


.form-check{
    align-items: center;
}
.form-check label{
    padding-left: 5px;
    
}



.form-check input[type="checkbox"] {
    -webkit-appearance: none; /* Remove o estilo padrão do navegador */
    -moz-appearance: none;
    appearance: none;
    width: 10px; /* Tamanho desejado do checkbox */
    height: 10px;
    border: 1px solid #ccc; /* Borda do checkbox */
    border-radius: 50%; /* Faz o checkbox redondo */
    outline: none; /* Remove o contorno padrão do navegador */
    cursor: pointer; /* Mostra o cursor ao passar sobre o checkbox */
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
    
}

.form-check input[type="checkbox"]:checked {
    background-color:#f09c47; /* Cor de fundo quando o checkbox está marcado */
    border-color: #f09c47; /* Cor da borda quando o checkbox está marcado */
}

.form-check label {
    padding-left: 5px;

    cursor: pointer; /* Mostra o cursor ao passar sobre o label */
}

button{
    background-color: #f0b94a;
    border: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 10px;
}




@media (max-width: 1452px){

    .orangebox{
        padding: 18px 0px;
        
    }

    .orangebox .title{
        font-size: 3rem;
    }

    .content{
        gap: 30px;
    }

    .content-form{
        padding: 40px 20px;
    }


}

@media (max-width: 839px){
    .content{
        flex-direction: column;
    }

    .content-text{
        width: 100%;
    }
}

@media(max-width:514px){
    .second-text .text {
        width: 70%;
        
    }


}

@media(max-width:497px){
    .content-form{
        padding: 30px 20px;
        width: 90%;
    }

    .third-text p{
        font-size: 1rem;
    }

    .telephone input {
        padding-left: 0;
    }
}

@media(max-width: 431px){
    .third-text p{
        font-size: 1rem;
    }

    .first-text p{
        font-size: 1.5rem;
    }
}
@media(max-width:417px){
    .third-text p{
        font-size: 0.9rem;
      
    }

    .first-text p{
        font-size: 1.2rem;
    }

    
}

@media(max-width: 392px){
    .telephone input{
        width: 70%;
    }
}

