<section>
    <div class="container">
        <div class="about">
            <p class="title">Sobre a Visão de Águia</p>

            <div class="subtitles">
                <p>CNPJ: 29.315.993/0001-72</p>
                <p>M2TRACK pertence à CON4 Soluções em TI</p>
                <p>Confie em quem entende de tecnologia!</p>
            </div>
        </div>

        <div class="contacts">
            <p class="title">Central de vendas e atendimento M2TRACK</p>

            <div class="subtitles">
                <p>Whatsapp (21) 96690-6260</p>
                <p>E-mail: atendimentocom.br</p>
            </div>
        </div>

        <div class="socialmedia">
            <p class="title">Redes sociais</p>

            <div class="icons">
                <p>--</p>
                <p>--</p>
            </div>
        </div>
    </div>
</section>