<section>
    <div class="container">
        <div class="image">
            <img src="assets/official-logo.png" alt="logo do site" class="imagesize">
        </div>

        <div class="title">
            <p>
                <span class="orange">rastreamento</span> e <span class="orange">monitoramento</span> do seu veículo disponível por <span class="orange">24h</span> por dia ao seu alcance!
            </p>
        </div>

        <!-- <img src="assets/maps.png" alt="imagem de um mapa" class="map"> -->
    </div>

    
</section>