
<section>
    <div class="total-container">
        <div class="content-texts">
            <div class="title">
                <p>Como você ficaria se o seu veículo fosse roubado hoje?</p>
            </div>

            <div class="subtitle">
                <p>Nó, da Visão de Águia, temos como objetivo ajudar a manter o seu bem sempre muito protegido.</p>
            </div>

            <div class="text">
                <p>Não nos importamos se você utiliza seu veículo para passeio ou trabalho. Só queremos manter aquilo que você lutou para conquistar. Somos uma empresa de Rastreamento Veicular com mais de 15 anos de atuação localizada no RJ e com veículos em todo Brasil.</p>
                <ul>
                    <li>Nossa solução custa em média 80% a menos que um seguro, portanto serve para você que não tem seguro ou já possui e deseja mais segurança;</li>
                    <li>Não temos nenhuma burocracia para aquisição e atendimento;</li>
                    <li>Contamos com diversos meios de pagamento.</li>
                </ul>
            </div>
        </div>

        <div class="image">
            <img src="assets/roubo-de-veiculo.png" alt="">
        </div>

    </div>
</section>