<section>
    <div class="content">
        <div class="titleone">
            <p><u>Benefícios</u> de ter o <span>Visão de Águia </span> no seu veículo</p>
        </div>

        <div class="titletwo">
            <p>Garanta a segurança do seu veículo com o monitoramento mais avançado e completo ao seu dispor.</p>
        </div>

        <div class="boxes">
            <div class="box">
                <fa-icon [icon]= "faPercent" class="icon"></fa-icon> 
                <p class="second-title">Aumento na chance de recuperação</p>
                <p>Com o rastreador em seu veículo, a porcentagem de encontrá-lo aumenta em 88%.</p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faMoneyBill" class="icon"></fa-icon> 
                <p class="second-title">Preço justo</p>
                <p>Colocamos nossos clientes em primeiro lugar. É por isso que oferecemos valores atrativos para mensalidades, instalação e remoção.</p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faMobile" class="icon"></fa-icon> 
                <p class="second-title">Rastreamento veicular e controle </p>
                <p>Com acesso via computador e smartphone, você pode monitorar e bloquear seu veículo de qualquer lugar./p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faLifeRing" class="icon"></fa-icon> 
                <p class="second-title">Proteção Ininterrupta</p>
                <p>Nosso rastreador está ativo 24 horas por dia, 7 dias por semana, garantindo sua segurança em qualquer lugar do Brasil.</p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faClock" class="icon"></fa-icon> 
                <p class="second-title">Central 24H</p>
                <p>Estamos sempre preparados para responder rapidamente em situações de risco, oferecendo relatórios detalhados e serviços de bloqueio imediato conforme necessário.</p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faHouse" class="icon"></fa-icon> 
                <p class="second-title">Instalação em domicílio</p>
                <p>Não se preocupe em sair de casa; realizamos a instalação diretamente onde você estiver, de forma rápida e conveniente.</p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faCar" class="icon"></fa-icon> 
                <p class="second-title">Suporte multiveículos</p>
                <p>Oferecemos soluções de rastreamento para motos, carros, caminhões e outros veículos. Além disso, dispomos de uma função exclusiva para reboques, que monitora o acionamento da rampa para garantir ainda mais segurança.</p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faExclamation" class="icon"></fa-icon> 
                <p class="second-title">Monitoramento de Alertas</p>
                <p>Através dos alertas, você pode acompanhar detalhes como a carga da bateria do seu veículo, a velocidade em que está sendo conduzido e outras informações essenciais para sua segurança e controle.</p>
            </div>

            <div class="box">
                <fa-icon [icon]= "faList" class="icon"></fa-icon> 
                <p class="second-title">Relatórios detalhados</p>
                <p>Tenha acesso a relatórios completos sobre o percurso realizado pelo seu veículo, incluindo as rotas percorridas e outras informações essenciais disponíveis em nosso sistema..</p>
            </div>

        </div>
    </div>
</section>