<section>
    <div class="container">
        <div class="image">
            <img src="/assets/selo-satisfacao.png">
        </div>

        <div class="content-texts">
            <div class="title">
                <p>Garantia de satisfação incondicional</p>
            </div>

            <div class="subtitle">
                <p>Fique 100% satisfeito ou cancele o serviço sem pagar multa!</p>
            </div>

            <div class="text">
                <p>O rastreamento veicular M2TRACK conta uma garantia 100% de satisfação. Ou seja, você pode utilizar nosso rastreador e caso não goste do serviço, basta pagar apenas o custo do técnico retirar o rastreador e devolvê-lo para nós. Sem pagar nenhuma multa por fidelidade ou cancelamento. Fazemos isso pois acreditamos plenamente em nosso produto e por nossa filosofia como empresa totalmente pró-consumidor. Temos mais de 15 anos de atuação em rastreamento veicular e mais de 3000 veículos monitorados, confie na experiência de quem prioriza o cuidado do seu bem e a sua satisfação!</p>
            </div>
        </div>
    </div>
</section>