<section>
    <div class="container">
        <div class="title">
            <p>Temos os <span>melhores planos</span> pra você!</p>
        </div>

        <div class="image">
            <img src="assets/vehicles.png" alt=" foto de veiculos" class="photo">
        </div>

        <div class="box-container">
            <div class="orangebox">
                <p>Plano rastreamento + bloqueio</p>
            </div>
            <div class="blackbox">
                <div class="blackbox-container">
                    <p>R$ 39,90/moto</p>
                    <p>R$ 49,90/carro</p>
                    <p>R$ 69,90/caminhão e outro</p>
                </div>
            </div>
            <div class="whitebox">
                <ul>
                    <li>Cobertura nacional</li>
                    <div class="line"></div>
                    <li>Central 24 horas</li>
                    <div class="line"></div>
                    <li>Alertas</li>
                    <div class="line"></div>
                    <li>Comunicação confiável</li>
                    <div class="line"></div>
                    <li>Instalação em domícilio</li>
                    <div class="line"></div>
                    <li>Portal Web</li>
                    <div class="line"></div>
                    <li>Histórico de posições</li>
                    <div class="line"></div>
                    <li>Bloqueio/opcional</li>
                    <div class="line"></div>
                    <li>Para donos de reboque: alerta da plataforma</li>
                </ul>

                <button class="animated-button">Quero contratar</button>
            </div>

        </div>
    </div>
    
</section>