<section>
    <div class="total-content">
        <p>Nossos benefícios</p>
        <p>Perca o medo de perder o seu veículo e tenha o monitoramento mais completo em suas mãos!</p>

        <div class="benefits-box">
            
        
            <fa-icon [icon]="faPercent"></fa-icon>
            <fa-icon [icon]="faMoneyBill"></fa-icon>

        <fa-icon [icon]="faMobile"></fa-icon>
        <fa-icon [icon]="faLifeRing"></fa-icon>

        <fa-icon [icon]="faClock"></fa-icon>
        <fa-icon [icon]="faHome"></fa-icon>
        <fa-icon [icon]="faCar"></fa-icon>
        <fa-icon [icon]="faSignal"></fa-icon>


        <fa-icon [icon]="faExclamationTriangle"></fa-icon>
        <fa-icon [icon]="faList"></fa-icon>
        </div>
    </div>
</section>