<section>
    <div class="container">
        <div class="title">
            <p>Satisfação e Qualidade</p>
        </div>

        <div class="subtitles">
            <div class="cuidado">
                <p class="titletwo">Cuidado</p>
                <p>Temos a <span class="orange">experiência</span> e <span class="orange">qualidade</span> necessária! Confie em quem valoriza a proteção do seu patrimônio e sua tranquilidade.</p>
            </div>

            <div class="porcentagem">
                <p class="titletwo">100%</p>
                <p>O rastreamento veicular da <strong>Visão de Águia</strong> conta com uma garantia de 100% de satisfação.</p>
            </div>


            <div class="garantias">
                <p class="titletwo">Garantias</p>
                <p>Se você não ficar satisfeito com o nosso serviço, o cancelamento será sem multas ou fidelidade..</p>
            </div>
        </div>
    </div>
</section>