<section>
    <div class="container">
        <div class="container-one">
            <div class="image">
                <img src="assets/hands.jpg" class="photo" alt="foto de maos segurando um celular">
            </div>

            <div class="textone">
                <p>Com o rastreamento da Visão de Águia, você gerencia e supervisiona o seu veículo de <span>QUALQUER LUGAR</span>!</p>
            </div>

            <div class="box" id="firstbox">

                <fa-icon [icon]= "faPhone" class="icon"></fa-icon><a href="https://api.whatsapp.com/send?phone=5521984381234"><p>Fale agora</p></a>
            </div>
        </div>

        <div class="container-two">
            <div class="title">
                <p>A proteção do seu veículo a um toque de distância</p>

            </div>

            <div class="subtitle">
                <p>Conheça algumas funcionalidades do nosso sistema:</p>
            </div>

            <div class="content-texts">
                <ul>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Alerta ao entrar/sair/atingir velocidade na cerca virtual</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Relatório completo e detalhado de percurso</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Configurar bloqueio automático ao sair da cerca</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Função para donos de reboque: alerta de acionamento de plataforma</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Gerenciamento de manutenções do veículo, motoristas, locais, rotas</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Rastreamento veicular</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Bloqueio/desbloqueio de veículo</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Histórico de até 90 dias</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Alertas de iginção </li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Alerta de excesso velocidade</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Alerta de segurança</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Alerta de alimentação da bateria cortada</li>
                    <li><fa-icon [icon]= "faCheck" class="icon2" style="margin-right: 7px;"></fa-icon>Relatório completo e detalhado de percurso</li>
                </ul>
            </div>
        </div>
    </div>
</section>