section{
    background-color: black;
    color: white;
    padding: 50px;
    
}

.image{
    
}
.photo{
    width: 320px;
    height: 290px;
    border-radius: 50%;
}

.container{
    display: flex;
    gap: 80px;
    justify-content: center;
}

.container-one{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
    
    align-items: center;
    

    
}

.container-one .textone{
    width: 60%;
    text-align: center;
    line-height: 23px;
    
}

.container-one .box{
  background-color: #737373;
  padding: 15px 30px;
  text-transform: uppercase;
}

.icon{
    
}

#firstbox{
    display: flex;
    gap: 10px;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    
}

#firstbox::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(255, 165, 0, 0.5); /* Laranja cintilante */
    border-radius: 15px;
    z-index: -1;
    filter: blur(15px);
    opacity: 0;
    transition: opacity 0.3s ease;
    
}

#firstbox:hover::before {
    opacity: 1;
}

#firstbox:hover {
    transform: scale(1.1);
}

#firstbox p {
    color: white !important;
    margin: 0;
}



#firstbox p{
    color: white !important;
}

span{
    color:#E45826;
    font-weight: bold;
}


.container-two{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.container-two .title{
    text-transform: uppercase;
    font-size: 1.6rem;
}

.container-two .subtitle{
    font-size: 1.1rem;
    background-color: #DE69137A;
    width: 64%;
    padding: 8px 5px;
    border-radius: 8px;
}



ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.icon2{
    color: #E45826;
}


@media(max-width:1378px){
    .container-two .subtitle{
        width: 68%;
    }
}

@media(max-width: 1166px){
    .container-two .subtitle{
        text-align: center
    };
}

@media(max-width: 511px){
    .container-two .subtitle{
        width: 100%;
    }

    .container-two .title{
        text-align: center;
    }
}

@media(max-width: 378px){
    .container-two .title{
        font-size: 1.4rem;
        text-align:start;
        
    }

    .container-two .subtitle{
        font-size: 1rem;
    }
}

@media(max-width: 342px){
    .container-two .title{
        font-size: 1.3rem;
    }

    .container-two .subtitle{
        font-size: 0.9rem;
    }
}

@media(max-width:802px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    .container-one .textone{
        width: 100%;
    }

    .container-one{
        display: flex;
        /* flex-direction: row; */
        gap: 20px;
        width: 100%;
    }

    .container-one .box{
        padding: 10px 30px;
        
    }

    .photo{
        width: 260px;
        height: 240px;
    }

   

}